<!doctype html>
{% load static %}
<html>
<head>
<title>修改密码</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
    <script src="{% static 'scripts/jquery/jquery-1.7.1.js' %}"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files  -->
<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<!-- /font files  -->
<!-- css files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
</head>
<body>
<h1></h1>
<div class="log">
	<div class="content2">
		<h2>设置新密码</h2>
		<form id="forms">
            {% csrf_token %}

{#			<input type="email" name="email" value="邮箱" id="user_email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '邮箱';} check_email()">#}
            <input type="hidden" name = "checkEmail" id="checkEmail" value="{{ checkEmail }}">
            <div style="text-align: center;color: #453670;font-size: 26px;">
                {% if checkEmail %}
                {{ checkEmail }}
                {% endif %}</div>
            <input type="password" name="password" value="......" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '......';}">*
			<input type="button" class="register" value="提交" id="regist" onclick="go_check()">
            <span style="text-align: center;display: none;" id="change_ok">修改密码成功！</span>
		</form>
	</div>
	<div class="clear"></div>
</div>
<div class="footer">
	<p>Copyright &copy;  <a href="http://www.baizhiedu.com/" target="_blank" title="百知教育">百知教育</a></p>
</div>


<script>
{#    异步注册#}
    function go_check() {
        $.ajax({

            type:'post',
            dateType:'json',
            url:'{% url "user:changePwd" %}',
            data:new FormData($('#forms').get(0)),
            success:function (a) {
                if(a==1){

                    $('#change_ok').css('display','inline-block');
                    setTimeout(location.href='{% url "user:loginPage" %}',3000);
                }else {alert('修改失败，请尝试重新修改！');}
            },
            processData:false,   //进制序列化data
            contentType:false,   //
        });
    }

</script>



</body>
</html>