<!doctype html>
{% load static %}
<html>
<head>
<title>主页</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
    <script src="{% static 'scripts/jquery/jquery-1.7.1.js' %}"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files  -->
<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<!-- /font files  -->
<!-- css files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
</head>
<body>
<h1></h1>
<div class="log">
	<div class="content1">
		<h2>主页</h2>
		<form id="forms">
            {% csrf_token %}
            <div style="margin-top: 30px">
                <span style="font-size: 24px;color: rgba(48,48,49,0.71);margin-right: 30px;"><a href="{% url 'user:loginPage' %}"  target="_blank">登录</a></span>
			    <span style="font-size: 24px;color: rgba(48,48,49,0.71);margin-right: 30px;"><a href="{% url 'user:registPage' %}"  target="_blank">注册</a></span>
			    <span style="font-size: 24px;color: rgba(48,48,49,0.71);margin-right: 30px;"><a href="{% url 'sys_main:sys_main' %}"  target="_blank">查询招聘信息</a></span>
			    <span style="font-size: 24px;color: rgba(48,48,49,0.71);margin-right: 30px;"><a href="{% url 'reports:reportsPie' %}"  target="_blank">报表</a></span>
{#			    <span style="font-size: 24px;color: rgba(48,48,49,0.71);margin-right: 30px;"><a href="{% url 'user:forgetPwdPage' %}"  target="_blank">忘记密码</a></span>#}
            </div>


			<div class="button-row">
				<div class="clear"></div>
			</div>
		</form>
	</div>

	<div class="clear"></div>
</div>
<div class="footer">
	<p>Copyright &copy;  <a href="http://www.baizhiedu.com/" target="_blank" title="百知教育">百知教育</a></p>
</div>

<script>
    function go_login() {

        $.ajax({
            type:'post',
            dataType:'json',
            url:'{% url "user:loginLogic" %}',
            data:new FormData($('#forms').get(0)),
            success:function (a) {
                console.log(a)
                if(a==1){location.href = '{% url "sys_main:sys_main" %}'}
                else {alert(' faild!');}

            },
            processData:false,   //进制序列化data
            contentType:false,   //
        });
    }


</script>

</body>
</html>